<footer id="site-footer" class="c-mbie-footer {% raw %}{{modifier_class}}{% endraw %}">
    <div class="l-outer-container">

        <div class="c-mbie-footer__nav-group">

            <div class="c-mbie-footer__nav-wrapper">
                <h2 id="c-mbie-footer__col1-label" class="c-mbie-footer__header">Footer menu one</h2>
                <nav class="c-mbie-footer__nav" aria-labelledby="c-mbie-footer__col1-label">
                    <ul class="c-mbie-footer__nav__list">
                        <li class="c-mbie-footer__nav__item" data-enhance-external-links data-external-link-class="b-link-external b-link-external--white"><a class="c-mbie-footer__nav__link" href="#">Home</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Primary section 1</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Primary section 2</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Primary section 3</a></li>
                    </ul>
                </nav>
            </div>

            <div class="c-mbie-footer__nav-wrapper c-mbie-footer__nav-wrapper--spanning-two-columns">
                <h2 class="c-mbie-footer__header">Footer menu two</h2>
                <nav class="c-mbie-footer__nav" aria-labelledby="c-mbie-footer__col1-label">
                    <ul class="c-mbie-footer__nav__list">
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Navigation item 1</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Navigation item 2</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Navigation item 3</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Navigation item 1</a></li>
                    </ul>
                </nav>
            </div>

            <div class="c-mbie-footer__nav-wrapper">
                <h2 id="c-mbie-footer__col3-label" class="c-mbie-footer__header">About us</h2>
                <nav class="c-mbie-footer__nav" aria-labelledby="c-mbie-footer__col3-label">
                    <ul class="c-mbie-footer__nav__list">
                        <li class="c-mbie-footer__nav__item">
                            <ul class="c-mbie-footer__nav__social-list">
                                <li class="c-mbie-footer__nav__social-item">
                                    <a href="https://www.facebook.com/" class="c-mbie-footer__nav__social-link" target="_blank">
                                        <span class="h-visuallyhidden">Facebook, opens in a new window</span>
                                        <img src="../img/icons/facebook--white.svg" alt="Facebook" class="h-icon h-icon--large c-mbie-footer__nav__social-link__social-icon"/>
                                    </a>
                                </li>
                                <li class="c-mbie-footer__nav__social-item">
                                    <a href="https://twitter.com/" class="c-mbie-footer__nav__social-link" target="_blank">
                                        <span class="h-visuallyhidden">Twitter, opens in a new window</span>
                                        <img src="../img/icons/twitter--white.svg" alt="Twitter" class="h-icon h-icon--large c-mbie-footer__nav__social-link__social-icon"/>
                                    </a>
                                </li>
                                <li class="c-mbie-footer__nav__social-item">
                                    <a href="https://www.linkedin.com" class="c-mbie-footer__nav__social-link" target="_blank">
                                        <span class="h-visuallyhidden">LinkedIn, opens in a new window</span>
                                        <img src="../img/icons/linkedin--white.svg" alt="Linkedin" class="h-icon h-icon--large c-mbie-footer__nav__social-link__social-icon"/>
                                    </a>
                                </li>
                                <li class="c-mbie-footer__nav__social-item">
                                    <a href="https://www.youtube.com/" class="c-mbie-footer__nav__social-link" target="_blank">
                                        <span class="h-visuallyhidden">YouTube, opens in a new window</span>
                                        <img src="../img/icons/youtube--white.svg" alt="Youtube" class="h-icon h-icon--large c-mbie-footer__nav__social-link__social-icon"/>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Contact us</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">About</a></li>
                        <li class="c-mbie-footer__nav__item"><a class="c-mbie-footer__nav__link" href="#">Subscribe</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="c-mbie-footer__nav-group">
            <ul class="c-mbie-footer__logo-list">
                <li class="c-mbie-footer__logo-list__list-item">
                    <a href="#" class="c-mbie-footer__logo-list__link">
                        <img src="../img/logos/280x52.png" alt="Logo" class="c-mbie-footer__logo-list__link__logo c-mbie-footer__logo-list__link__logo--mbie">
                        <img src="../img/logos/280x52.png" alt="Logo" class="c-mbie-footer__logo-list__link__logo c-mbie-footer__logo-list__link__logo--alt c-mbie-footer__logo-list__link__logo--mbie--alt">
                    </a>

                    <img class="h-print" src="../img/logos/mbie-logo-print.png" width="251" height="47" alt="Logo" >
                </li>
                <li class="c-mbie-footer__logo-list__list-item">
                    <a href="https://www.govt.nz/" title="newzealand.govt.nz - connecting you to New Zealand central and local government services." class="c-mbie-footer__logo-list__link">
                        <img src="../img/logos/nz-govt-logo--white.svg" alt="Ministry of Business, Innovation and Employment logo" class="c-mbie-footer__logo-list__link__logo c-mbie-footer__logo-list__link__logo--nzgovt">
                        <img src="../img/logos/nz-govt-logo--black.svg" alt="Ministry of Business, Innovation and Employment logo" class="c-mbie-footer__logo-list__link__logo c-mbie-footer__logo-list__link__logo--alt c-mbie-footer__logo-list__link__logo--nzgovt--alt">
                    </a>
                </li>
            </ul>
        </div>

        <div class="c-mbie-footer__nav-group">
            <h2 id="c-mbie-footer__global-nav-title" class="h-visuallyhidden">Global menu</h2>
            <nav class="c-mbie-footer__global-nav" aria-labelledby="c-mbie-footer__global-nav-title">
                <ul class="c-mbie-footer__global-nav__list">
                    <li class="c-mbie-footer__global-nav__item"><a class="c-mbie-footer__global-nav__link" href="#">Terms of use</a></li>
                    <li class="c-mbie-footer__global-nav__item"><a class="c-mbie-footer__global-nav__link" href="#">Copyright</a></li>
                    <li class="c-mbie-footer__global-nav__item"><a class="c-mbie-footer__global-nav__link" href="#">Privacy statement </a></li>
                    <li class="c-mbie-footer__global-nav__item c-mbie-footer__global-nav__copyright">&copy; Name of Agency</li>
                </ul>
            </nav>
        </div>

        <div class="c-mbie-footer__page-url h-print">
            <p>https://www.mbie.govt.nz</p>
        </div>

        <div class="c-mbie-footer__content-disclaimer h-print">
            <p><strong>Please note that this content will change over time and may be out-of-date.</strong></p>
        </div>

    </div>
</footer>
