<div class="c-document-list">
    <ul class="c-document-list__list">
        <li class="c-document-list__item">
            <a href="/file.pdf" class="c-document-list__link">
                <svg class="h-icon h-icon--x-large h-icon--red c-document-list__icon ">
                    <use xlink:href="../img/icons/svg-sprite.svg#pdf-icon"></use>
                </svg>
                <div class="c-document-list__file-content">
                    <h3 class="c-document-list__file-title">Annual Report 2018</h3>
                    <p class="c-document-list__file-desc">Reporting against our strategic objectives and financial planning.</p>
                </div>
                <span class="c-document-list__tag">Report</span>
                <span class="c-document-list__tag">Governance</span>
                <span class="c-document-list__file-size">PDF, 123kb -- 32 PAGES</span>
            </a>
        </li>
    </ul>
</div>
