<aside class="c-sharing-and-output-panel" aria-labelledby="c-sharing-and-output-panel__title">
    <h2 id="c-sharing-and-output-panel__title" class="c-sharing-and-output-panel__title">Share</h2>
    <ul class="c-sharing-and-output-panel__social-list">
        <li class="c-sharing-and-output-panel__social-item">
            <a href="https://www.facebook.com/MBIEgovtNZ" class="c-sharing-and-output-panel__social-link" target="_blank">
                <span class="h-visuallyhidden">Facebook, opens in a new window</span>
                <svg class="h-icon h-icon--x-large c-sharing-and-output-panel__social-icon">
                    <use xlink:href="../img/icons/svg-sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <li class="c-sharing-and-output-panel__social-item">
            <a href="https://twitter.com/mbiegovtnz" class="c-sharing-and-output-panel__social-link" target="_blank">
                <span class="h-visuallyhidden">Twitter, opens in a new window</span>
                <svg class="h-icon h-icon--x-large c-sharing-and-output-panel__social-icon">
                    <use xlink:href="../img/icons/svg-sprite.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="c-sharing-and-output-panel__social-item">
            <a href="https://www.linkedin.com/company/ministry-of-business-innovation-and-employment" class="c-sharing-and-output-panel__social-link" target="_blank">
                <span class="h-visuallyhidden">LinkedIn, opens in a new window</span>
                <svg class="h-icon h-icon--x-large c-sharing-and-output-panel__social-icon">
                    <use xlink:href="../img/icons/svg-sprite.svg#linkedin"></use>
                </svg>
            </a>
        </li>
	</ul>
    <ul class="c-sharing-and-output-panel__tool-list">
        <li class="c-sharing-and-output-panel__tool-item">
            <a href="javascript:if(window.print)window.print()" class="c-sharing-and-output-panel__tool-link">
                <svg class="h-icon h-icon--large c-print__icon c-sharing-and-output-panel__tool-icon">
                    <use xlink:href="../img/icons/svg-sprite.svg#print-icon"></use>
                </svg>
                Print this page
            </a>
        </li>
        <li class="c-sharing-and-output-panel__tool-item">
            <a href="#" class="c-sharing-and-output-panel__tool-link">
                <svg class="h-icon h-icon--large c-sharing-and-output-panel__tool-icon">
                    <use xlink:href="../img/icons/svg-sprite.svg#email-icon"></use>
                </svg>
                Email this page
            </a>
        </li>
    </ul>
</aside>
