// ############################################
// b-table
// ############################################

.b-table-js {
    position: relative;
    margin: rem($g-bu * 3) 0;

    table {
        margin: 0;
    }
}
