<div class="b-table-js">
    <div class="l-overflow-liner">
        <table>
            <thead>
                <tr>
                    <th>Column one</th>
                    <th>Second column heading</th>
                    <th>This is the heading for the third column</th>
                    <th>Heading</th>
                    <th>Another heading for the last column that is longer</th>
                    <th>Another heading for the last column that is longer</th>
                    <th>Another heading for the last column that is longer</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Row header</th>
                    <td>Yes</td>
                    <td>No</td>
                    <td>N/A</td>
                    <td>No*</td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <th>Another row header</th>
                    <td>No</td>
                    <td>Yes</td>
                    <td>GIF, JPG</td>
                    <td>No*</td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>GIF, JPG</td>
                    <td>&endash;</td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <td>Other</td>
                    <td>Rincididunt ut labore et dolore magna aliqua</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</td>
                    <td>Dolore magna aliqua</td>
                    <td></td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>No</td>
                    <td>Yes</td>
                    <td>GIF, JPG</td>
                    <td>No*</td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>GIF, JPG</td>
                    <td>&endash;</td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
                <tr>
                    <td>Other</td>
                    <td>Rincididunt ut labore et dolore magna aliqua</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</td>
                    <td>Dolore magna aliqua</td>
                    <td></td>
                    <td>No*</td>
                    <td>No*</td>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                    <th>Heading</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>