<div class="c-breadcrumbs {{extra_class}}">
    <nav class="c-breadcrumbs__inner" {% if has_arialabel %}aria-label="You are here:"{% endif %}>
        <ul class="c-breadcrumbs__list">
            <li class="c-breadcrumbs__item c-breadcrumbs__item--home">
                <a href="#" class="c-breadcrumbs__link" aria-label="Home">
                    <span class="h-visuallyhidden">Home</span>
                    <svg class="h-icon h-icon--large c-breadcrumbs__icon" viewBox="0 0 48 48" id="home-icon" xmlns="http://www.w3.org/2000/svg">
                      <title>_</title>
                      <path d="M24.06 1L1 25.35h5.41V47h13.53V33.47h8.12V47h13.53V25.35H47z"/>
                    </svg>
                </a>
            </li>
            <li class="c-breadcrumbs__item"> <span aria-hidden="true">&#8250;</span> <a class="c-breadcrumbs__link" href="#">Help centre</a></li>
            <li class="c-breadcrumbs__item"> <span aria-hidden="true">&#8250;</span> <a class="c-breadcrumbs__link" href="#">Frequently asked questions</a></li>
            <li class="c-breadcrumbs__item"> <span aria-hidden="true">&#8250;</span> <span class="h-visuallyhidden">Current: </span><span class="c-breadcrumbs__text">How do I apply for a visa?</span></li>
        </ul>
    </nav>
</div>
