<div class="c-document-list">
    <ul class="c-document-list__list">
        <li class="c-document-list__item">
            <a href="/file.pdf" class="c-document-list__link">
                <svg class="h-icon h-icon--x-large c-document-list__icon h-icon--green">
                    <use xlink:href="../img/icons/svg-sprite.svg#xls-icon"></use>
                </svg>
                <div class="c-document-list__file-content">
                    <h3 class="c-document-list__file-title">First Quarter Analysis 2018</h3>
                    <p class="c-document-list__file-desc">Compiled and analysed data, in total and by business unit.</p>
                </div>
                <span class="c-document-list__tag">Analysis</span>
                <span class="c-document-list__file-size">XLS, 78kb</span>
            </a>
        </li>
    </ul>
</div>
