{% import "blocks/b-show-hide/b-show-hide.html" as b_showhide %}

{{ b_showhide.b_showhide(
    extra_class= '',
    is_opened = false,
    title = 'Default Accordion title',
    title_extra_class = '',
    icon_name = false,
    secondary_info = false,
    has_content = true,
    is_article_list = false,
    is_entity_list = false,
    content = false,
    trigger_tag = 'h3',
    has_chevron = true,
    extra_attr = '',
    logo_title = false
  )
}}

{{ b_showhide.b_showhide(
    extra_class= '',
    is_opened = false,
    title = 'Second Accordion title',
    title_extra_class = '',
    icon_name = false,
    secondary_info = false,
    has_content = true,
    is_article_list = false,
    is_entity_list = false,
    content = false,
    trigger_tag = 'h3',
    has_chevron = true,
    extra_attr = '',
    logo_title = false
  )
}}

{{ b_showhide.b_showhide(
    extra_class= '',
    is_opened = false,
    title = 'Third Accordion title',
    title_extra_class = '',
    icon_name = false,
    secondary_info = false,
    has_content = true,
    is_article_list = false,
    is_entity_list = false,
    content = false,
    trigger_tag = 'h3',
    has_chevron = true,
    extra_attr = '',
    logo_title = false
  )
}}
