<div class="pattern-color">
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--blue">
        </div>
        <h4 class="pattern-color__name">Blue</h4>
        <p class="pattern-color__hex">#336699</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--blue-hover">
        </div>
        <h4 class="pattern-color__name">Blue hover</h4>
        <p class="pattern-color__hex">#1a4d80</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--light-blue">
        </div>
        <h4 class="pattern-color__name">Light blue</h4>
        <p class="pattern-color__hex">#78aeda</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--orange">
        </div>
        <h4 class="pattern-color__name">Orange</h4>
        <p class="pattern-color__hex">#d34322</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--orange-hover">
        </div>
        <h4 class="pattern-color__name">Orange hover</h4>
        <p class="pattern-color__hex">#1a4d80</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--purple">
        </div>
        <h4 class="pattern-color__name">Purple</h4>
        <p class="pattern-color__hex">#993366</p>
    </div>

    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--black">
        </div>
        <h4 class="pattern-color__name">Black</h4>
        <p class="pattern-color__hex">#000</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--dark-grey">
        </div>
        <h4 class="pattern-color__name">Dark grey</h4>
        <p class="pattern-color__hex">#4c4c4c</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--dark-grey-hover">
        </div>
        <h4 class="pattern-color__name">Dark grey hover</h4>
        <p class="pattern-color__hex">#3d3d3d</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--grey">
        </div>
        <h4 class="pattern-color__name">Grey</h4>
        <p class="pattern-color__hex">#ababab</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--dove">
        </div>
        <h4 class="pattern-color__name">Dove</h4>
        <p class="pattern-color__hex">#ebebeb</p>
    </div>
    <div class="pattern-color__item">
        <div class="pattern-color__tile pattern-color__tile--white">
        </div>
        <h4 class="pattern-color__name">White</h4>
        <p class="pattern-color__hex">#fff</p>
    </div>
    
</div>
