<div class="c-document-list">
    <ul class="c-document-list__list">
        <li class="c-document-list__item">
            <a href="/file.pdf" class="c-document-list__link">
                <svg class="h-icon h-icon--x-large c-document-list__icon h-icon--black">
                    <use xlink:href="../img/icons/svg-sprite.svg#csv-icon"></use>
                </svg>
                <div class="c-document-list__file-content">
                    <h3 class="c-document-list__file-title">Raw data for 2017</h3>
                    <p class="c-document-list__file-desc">All data collected between January through to December 2017.</p>
                </div>
                <span class="c-document-list__tag">Data</span>
                <span class="c-document-list__file-size">CSV, 23kb</span>
            </a>
        </li>
    </ul>
</div>