  <header class="govtnz-header " role="banner" data-module="header">
      <div class="containerinner">
    
        <div class="govtnz-header__logo ">
          <a href="#" class="govtnz-header__link govtnz-header__link--homepage">
            <span class="govtnz-header__logotype">
  <img class="logo" src="https://mkirkpat.github.io/logo-edited-white.png" />
              <span class="govtnz-header__logotype-text">
                Govt.nz
              </span>
              
            </span>
          </a>
        </div>
  
      </div>
    </header>