// ############################################
// b-image-full
// ############################################


// ================================================
// Block Styles
// ================================================

.b-image-full {
    padding: 0;
    margin: rem($g-bu * 2) 0;

    img {
        width: 100%;
        margin: 0;
    }

    picture {
        display: inline-block;
    }

    &--feature {
        margin-top: 0;
    }
}
