// ############################################
// Global Colours
// ####### #####################################

// ============================================
// Companies Office
// ============================================


// --------------------------------------------
// To do
// --------------------------------------------

// We'll need to go resolve '$g-color-todo' use to the correct colour
// we'll need to check for 'too many' colours used

$dia-color-blue: #369;
$dia-color-blue-hover: #1a4d80;
$dia-color-light-blue: #78aeda;
$dia-color-orange: #d34322;
$dia-color-orange-hover: #b73a1e;
$dia-color-purple: #936;
$dia-color-purple-hover: #6a2347;
$dia-color-black: #000;
$dia-color-dark-grey: #4c4c4c;
$dia-color-dark-grey-hover: #3d3d3d;
$dia-color-grey: #ababab;
$dia-color-dove: #ebebeb;
$dia-color-white: #fff;
$dia-color-green: #53a169;

$grey: #ccc;

$g-color-todo: #f00;

$g-color-black01: #131414;

$g-color-grey01: #eaeaea;
$g-color-grey02: #4d4d4d;
$g-color-grey03: #ebebeb;
$g-color-grey04: #e4e4e4;
$g-color-grey05: #575757;
$g-color-grey06: #f9fafb;
$g-color-grey07: #f0f1f2;
$g-color-grey08: #cbcccd;
$g-color-grey09: #999;
$g-color-grey10: #e8e8ea;
$g-color-grey11: #e1e1e1;
$g-color-grey12: #777;
$g-color-grey13: #a8a9aa;
$g-color-grey14: #cacbcc;
$g-color-grey15: #d8d8d8;
$g-color-grey16: #767676;
$g-color-grey17: #f5f5f5;
$g-color-grey18: #dadada;
$g-color-grey19: #ecedf2;
$g-color-grey20: #dcddde;

$g-color-white01: #fff;

$g-color-blue01: #7fdaf0;
$g-color-blue02: #ebf9fd;
$g-color-blue03: #01b7e8;
$g-color-blue04: #04bbe6;
$g-color-blue05: #19bde9;
$g-color-blue06: #07a;
$g-color-blue07: #41576a;
$g-color-blue08: #fafbfc;
$g-color-blue09: #007ba2;
$g-color-blue10: #027ea1;
$g-color-blue11: #04bce7;
$g-color-blue12: #033247;
$g-color-blue13: #355b6c;
$g-color-blue14: #1d475a;
$g-color-blue15: #406e80;
$g-color-blue16: #00b5e2;
$g-color-blue17: #5e7a86;
$g-color-blue18: #e4faff;
$g-color-blue19: #093346;

$g-color-orange01: #fdf2ed;
$g-color-orange02: #d24700;
$g-color-orange03: #e09e35;
$g-color-orange04: #d14700;

$g-color-yellow01: #976f2f;
$g-color-yellow02: #fdf7ef;
$g-color-yellow03: #fcd358;
$g-color-yellow04: #e39f36;
$g-color-yellow05: #fef2cd;

$g-color-red01: #e61a10;
$g-color-red02: #eb0300;
$g-color-red3: #ff3835;
$g-color-red4: #c50099;

$g-color-green01: #749f34;
$g-color-green02: #006272;

$g-color-primary3: #406d80;
$g-color-primary4: #96b5c4;
$g-color-primary5: #dbe9f0;

// --------------------------------------------
// Charcoal
// --------------------------------------------

$g-color-charcoal-dark: #0b0b0b;
$g-color-charcoal: #272727;
$g-color-charcoal-light: #424242;


// --------------------------------------------
// Primary
// --------------------------------------------

$g-color-primary1: #004b6b;
$g-color-primary2: #369;


// --------------------------------------------
// Secondary
// --------------------------------------------

$g-color-secondary1: #d24700;
$g-color-secondary2: #8c322b;


// --------------------------------------------
// Tertiary
// --------------------------------------------

$g-color-line-grey: $g-color-grey20;
$g-color-light-grey: #f3f4f5;
