// ############################################
// General Variables
// ############################################

// A group of variables that do not require their own stylesheet.


// ============================================
// Asst Paths
// ============================================

$g-image-path: '../img/';
$g-font-path: '../font/';


// ============================================
// Units
// ============================================

// Base unit.
$g-bu: 8;

// Half base unit.
$g-hbu: 4;


// ============================================
// Animation
// ============================================

$g-anim-hover: .1s;


// ============================================
// Grid
// ============================================

$g-grid-columns: 12 !default;
$g-gutter: $g-bu * 5 + px !default; // Must be a px value
